<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/screen.css"
          th:href="@{/static/css/screen.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/handlebars/4.0.2/handlebars.min.js"
            th:src="@{/webjars/handlebars/4.0.2/handlebars.min.js}"></script>

    <script src="../static/js/app.js"
            th:src="@{/static/js/app.js}"></script>
</head>
<body>

<!-- Navbar -->
<div class="navbar" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img class="header-logo" src="../static/images/logo.jpg" th:src="@{/static/images/logo.jpg}" /></a>
        </div>
        <div class="navbar-right navbar-collapse collapse">
            <ul id="loginMenu" class="nav navbar-nav">
                <li><a href="#" th:href="@{/login}">로그인</a></li>
                <li><a href="#" th:href="@{/signup}">회원가입</a></li>
            </ul>
            <ul id="logoutMenu" class="nav navbar-nav" style="display: none;">
                <li><a href="#" th:href="@{/login}">로그아웃</a></li>
            </ul>
        </div>
        <form name="search-form" class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." />
        </form>
        <div class="navbar-right navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/issues}">전체이슈</a></li>
                <li><a href="#" th:href="@{/issue/create}">이슈등록</a></li>
                <li><a href="#" th:href="@{/my-issues}">마이이슈</a></li>
                <li><a href="#" th:href="@{/notification}">알림</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>