<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>no forget</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
        rel="stylesheet" media="screen" />

  <link href="../static/css/screen.css"
        th:href="@{/static/css/screen.css}"
        rel="stylesheet" media="screen" />

  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>


  <script src="http://cdn.jsdelivr.net/webjars/handlebars/4.0.2/handlebars.min.js"
          th:src="@{/webjars/handlebars/4.0.2/handlebars.min.js}"></script>

  <script src="../static/js/app.js"
          th:src="@{/static/js/app.js}"></script>

  <script th:inline="javascript">
    $(function() {
      var accessToken = getCookie('accessToken');

      if(accessToken) {
        $('#loginMenu').hide();
        $('#logoutMenu').show();
      } else {
        $('#loginMenu').show();
        $('#logoutMenu').hide();
      }
    });
  </script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
</div>

<section layout:fragment="content"></section>

<footer>
  <div th:replace="fragments/footer :: footer">&copy; 2015 The Static Templates</div>
</footer>
</body>
</html>