<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">

<head>
  <title>이슈 등록</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="page-header">
      <h1>이슈 등록</h1>
    </div>
    <section>
      <form id="create-form" class="form-horizontal">
        <div class="form-group">
          <label for="title" class="control-label col-sm-2">제목</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="" />
          </div>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">타임트리</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" id="record-date" placeholder="날짜" />
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="record-title" placeholder="개요" />
          </div>
        </div>
        <div class="form-group">
          <label for="content" class="control-label col-sm-2">개요</label>
          <div class="col-sm-10">
            <textarea id="content" class="form-control" rows="10"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="record-url" class="control-label col-sm-2">링크</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="record-url" placeholder="" />
          </div>
        </div>
        <div class="form-group">
          <label for="image-url" class="control-label col-sm-2">Image URL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="image-url" placeholder="" />
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="control-label col-sm-2">Tags</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tags" placeholder="" />
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">확인</button>
          <button type="button" class="btn btn-default">취소</button>
        </div>
      </form>
    </section>
  </div>

  <script th:inline="javascript">
    $(function() {

      var submit = false;

      $('#create-form').submit(function(e) {

        e.preventDefault();

        var title = $('#title').val();
        var content = $('#content').val();
        var recordDate = $('#record-date').val();
        var recordTitle = $('#record-title').val();
        var recordUrl = $('#record-url').val();
        var imageUrl = $('#image-url').val();

        var tags = [];

        $.ajax({
          url : apiPrefix+'/issue',
          type: 'post',
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          headers : {
            accessToken : getCookie('accessToken')
          },
          data: JSON.stringify({
            title: title,
            content : content,
            imageUrl : imageUrl,
            record: {
              date : recordDate,
              title : recordTitle,
              description : content,
              imageUrl : imageUrl,
              references : [
                {url : recordUrl}
              ]
            },
            tags: tags
          }),
          success : function(data) {
            location.href='/issues';
          },
          error : function() {
            submit = false;
          }
        });
      });
    });
  </script>
</div>
</body>
</html>