<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">

<head>
  <title>no forget</title>
</head>
<body>
<div id="main-visual">
  no forget은 잊혀져 갈 수 있는 이슈들을 모아<br/>
  사용자에게 제공해 주는 서비스 입니다.
</div>
<div layout:fragment="content">
  <div class="container">
    <section>
      <div class="section-header">
        <h2>관심등록 컨텐츠</h2>
      </div>
      <div class="scraps">
        <a href="#" class="scrap-issue" style="background-image: url(/static/images/@scrap-issue-1.jpg);">
          <div class="issue-title">
            남극해 좌초됐던
            썬스타호 구출완료
          </div>
        </a>
        <a href="#" class="scrap-issue" style="background-image: url(/static/images/@scrap-issue-2.jpg);">
          <div class="issue-title">
            서울시 아파트값상승폭 올들어최저치
          </div>
        </a>
        <a href="#" class="scrap-issue" style="background-image: url(/static/images/@scrap-issue-3.jpg);">
          <div class="issue-title">
            진보교육감들 대안교재 공동개발
          </div>
        </a>
        <a href="#" class="scrap-issue" style="background-image: url(/static/images/@scrap-issue-4.jpg);">
          <div class="issue-title">
            폭력대신 탬버린 든
            3차 민중총궐기
            참가자들
          </div>
        </a>
        <a href="#" class="scrap-issue" style="background-image: url(/static/images/@scrap-issue-5.jpg);">
          <div class="issue-title">
            지병 시달린
            30대 경찰관 실종
          </div>
        </a>
      </div>
    </section>
    <section>
      <div class="section-header">
        <h2>사이다/고구마 이슈</h2>
      </div>
      <div class="hot-issues">
        <img src="../static/images/hot-issue.jpg" th:src="@{/static/images/hot-issue.jpg}"/>
      </div>
    </section>
    <section>
      <div class="section-header">
        <h2>최근 업데이트 이슈</h2>
      </div>
      <div class="update-issues">
        <div class="update-issue-row" th:each="issue : ${updateIssueArticles}">
          <a href="issue.html" th:href="@{'/issue/'+${issue.id}}" class="update-issue">
            <h3 th:text="${issue.title}">이슈 제목</h3>

            <div class="issue-intro" th:text="${issue.records[0].title}">이상득 前의원, 오늘(18일) 첫 재판 (기록내용)</div>
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="section-header">
        <h2>최근 등록된 이슈</h2>
      </div>
      <div class="recent-issues">
        <a href="#" class="recent-issue" th:each="issue : ${recentIssueArticles}" th:style="|background-image: url(${issue.imageUrl});|"></a>
      </div>
      <div class="text-center">
        <a href="/issues" class="btn btn-success btn-lg btn-more">모든 이슈 보기</a>
      </div>
    </section>
  </div>
</div>
</body>
</html>