<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Hello Spring Boot!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>

  <link href="../static/css/screen.css"
        th:href="@{/static/css/screen.css}"
        rel="stylesheet" media="screen"/>

  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
          th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

  <script src="../static/js/app.js"
          th:src="@{/static/js/app.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
  <div id="header" class="navbar" th:fragment="header">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" th:href="@{/}"><img class="header-logo" src="../static/images/logo.jpg"
                                                             th:src="@{/static/images/logo.jpg}"/></a>
      </div>
      <div class="navbar-right navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" th:href="@{/issues}">로그인</a></li>
          <li><a href="#" th:href="@{/issues/create}">회원가입</a></li>
        </ul>
      </div>
      <form name="search-form" class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search..."/>
      </form>
      <div class="navbar-right navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" th:href="@{/issues}">전체이슈</a></li>
          <li><a href="#" th:href="@{/issues/create}">이슈등록</a></li>
          <li><a href="#" th:href="@{/my-issues}">마이이슈</a></li>
          <li><a href="#" th:href="@{/notification}">알림</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
  <!--/.nav-collapse -->
</div>
<div id="main-visual">
  no forget은 잊혀져 갈 수 있는 이슈들을 모아<br/>
  사용자에게 제공해 주는 서비스 입니다.
</div>
<div class="container">
  <section>
    <div class="section-header">
      <h2>관심등록 컨텐츠</h2>
    </div>
    <div class="scraps">
      <a href="#" class="scrap-issue" style="background-image: url(http://placehold.it/200x256);">
        <div class="issue-title">
          남극해 좌초됐던
          썬스타호 구출완료
        </div>
      </a>
      <a href="#" class="scrap-issue" style="background-image: url(http://placehold.it/200x256);">
        <div class="issue-title">
          남극해 좌초됐던
          썬스타호 구출완료
        </div>
      </a>
      <a href="#" class="scrap-issue" style="background-image: url(http://placehold.it/200x256);">
        <div class="issue-title">
          남극해 좌초됐던
          썬스타호 구출완료
        </div>
      </a>
      <a href="#" class="scrap-issue" style="background-image: url(http://placehold.it/200x256);">
        <div class="issue-title">
          남극해 좌초됐던
          썬스타호 구출완료
        </div>
      </a>
      <a href="#" class="scrap-issue" style="background-image: url(http://placehold.it/200x256);">
        <div class="issue-title">
          남극해 좌초됐던
          썬스타호 구출완료
        </div>
      </a>
    </div>
  </section>
  <section>
    <div class="section-header">
      <h2>사이다/고구마 이슈</h2>
    </div>
    <div class="hot-issues">
      <a href="#" class="left-issue hot-issue" style="background-image: url(http://placehold.it/600x200);"></a>
      <a href="#" class="left-issue hot-issue" style="background-image: url(http://placehold.it/600x200);"></a>
    </div>
  </section>
  <section>
    <div class="section-header">
      <h2>최근 업데이트 이슈</h2>
    </div>
    <div class="update-issues">
      <div class="update-issue-row">
        <a href="#" class="update-issue">
          <h3>이슈제목</h3>

          <div class="issue-intro">이상득 前의원, 오늘(18일) 첫 재판 (기록내용)</div>
        </a>
      </div>
      <div class="update-issue-row">
        <a href="#" class="update-issue">
          <h3>이슈제목</h3>

          <div class="issue-intro">이상득 前의원, 오늘(18일) 첫 재판 (기록내용)</div>
        </a>
      </div>
      <div class="update-issue-row">
        <a href="#" class="update-issue">
          <h3>이슈제목</h3>

          <div class="issue-intro">이상득 前의원, 오늘(18일) 첫 재판 (기록내용)</div>
        </a>
      </div>
      <div class="update-issue-row">
        <a href="#" class="update-issue">
          <h3>이슈제목</h3>

          <div class="issue-intro">이상득 前의원, 오늘(18일) 첫 재판 (기록내용)</div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="section-header">
      <h2>최근 등록된 이슈</h2>
    </div>
    <div class="recent-issues">
      <a href="#" class="recent-issue" style="background-image: url(http://placehold.it/220x200);"></a>
      <a href="#" class="recent-issue" style="background-image: url(http://placehold.it/220x200);"></a>
      <a href="#" class="recent-issue" style="background-image: url(http://placehold.it/220x200);"></a>
      <a href="#" class="recent-issue" style="background-image: url(http://placehold.it/220x200);"></a>
      <a href="#" class="recent-issue" style="background-image: url(http://placehold.it/220x200);"></a>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-success btn-lg btn-more">모든 이슈 보기</a>
    </div>
  </section>
  <footer>
    <div th:replace="fragments/footer :: footer">&copy; 2015 The Static Templates</div>
  </footer>
</div>
</body>
</html>