<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">

<head>
  <title>이슈 상세</title>
</head>
<body>
<div layout:fragment="content">
  <div id="issue-title" th:text="${issue.title}">
  </div>
  <div class="issue-tag">
    <a href="#" th:each="tag : ${issue.tags}" th:text="${tag.name}">테그</a>
  </div>
  <div class="container">
    <div id="issue-wrapper" class="clearfix">
      <div id="issue-detail" class="col-xs-8 text-center">
        <section class="detail-section">
          <div class="section-header">
            <h1>개요</h1>
          </div>
          <p class="lead" th:text="${issue.content}"></p>
          <div>
            <button class="btn btn-lg btn-default"><i class="glyphicon glyphicon-paperclip"></i> 구독</button>
            <button class="btn btn-lg btn-success"><i class="glyphicon glyphicon-share"></i> 공유</button>
          </div>
        </section>
        <section class="detail-section">
          <div class="section-header">
            <h1>세상을 바꾸는 행동</h1>
          </div>
          <div class="actions">
            <div class="action-content" th:each="action : ${issue.actions}">
              <span>•</span> <span th:each="${action.content}">아고라 서명운동 URL</span>
              <span th:if="${action.url != null}">
                : <a href="#" th:href="${action.url}" th:text="${action.url}">http://www.daum.net</a>
              </span>
            </div>
          </div>
          <div class="clearfix">
            <form class="action-form form-horizontal">
              <div class="col-xs-1 plus-icon">
                <i class="glyphicon glyphicon-plus"></i>
              </div>
              <div class="col-xs-11">
                <div class="input-group">
                  <input type="text" id="action-content" class="form-control" placeholder="내용" />
                  <input type="text" id="action-url" class="form-control" placeholder="관련 URL 입력" />
                  <div class="input-group-btn">
                    <button type="button" id="submit-action" class="btn btn-default ">입력</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <section class="detail-section">
          <div class="section-header">
            <h1>코멘트</h1>
          </div>
          <form class="comment-form form-horizontal">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="코멘트를 입력해 주세요." />
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">등록</button>
              </div>
            </div>
          </form>
          <div class="comment-count">전체댓글 12</div>
          <div class="comments">
            <div class="comment">
              <span class="user-name">username</span> <span class="created-at">2015/05/14</span> <a href="#" class="comment-remove"><i class="glyphicon glyphicon-remove"></i></a>
              <div class="comment-content">어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구</div>
            </div>
            <div class="comment">
              <span class="user-name">username</span> <span class="created-at">2015/05/14</span>
              <div class="comment-content">어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구</div>
            </div>
            <div class="comment">
              <span class="user-name">username</span> <span class="created-at">2015/05/14</span>
              <div class="comment-content">어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구</div>
            </div>
            <div class="comment">
              <span class="user-name">username</span> <span class="created-at">2015/05/14</span>
              <div class="comment-content">어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구 어쩌구저쩌구어쩌구저쩌구</div>
            </div>
          </div>
        </section>
      </div>
      <div id="issue-timeline" class="col-xs-4">
        <div class="timeline-header">
          <div class="timeline-title">총 <span th:text="${issue.recordSize}"></span>개의 타임라인</div>
          <select class="form-control input-sm">
            <option>최근 등록순</option>
          </select>
        </div>

        <div class="timeline">
          <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-plus"></i> 기록추가</button>
          <div class="timeline-line"></div>
          <div class="timeline-path"></div>
          <div class="timeline-place">
            <div class="timeline-now">
              <i class="glyphicon glyphicon-map-marker"></i>
            </div>

            <div class="timeline-point" th:each="record : ${issue.records}">
              <i class="glyphicon glyphicon-chevron-up"></i> <span th:text="${#dates.format(record.date, 'MM.dd')}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    $(function() {
      var submit = false;
      $('#submit-action').click(function() {
        if(!submit) {

          var issueId = /*[[${issue.id}]]*/ "";
          var content = $('#action-content').val();
          var url = $('#action-url').val();

          if(content == '') {
            alert('내용을 입력해 주세요.');
            $('#action-content').get(0).focus();
            return;
          }

          submit = true;

          $.ajax({
            url : apiPrefix+'/issue/'+issueId+'/action',
            dataType : 'json',
            type: 'post',
            headers : {
              'accessToken' : ''
            },
            data : JSON.stringify({content : content, url : url}),
            success : function() {
              location.reload();
            },
            error : function() {
              submit = false;
            }
          });
        }

      });
    });
  </script>
</div>
</body>
</html>