<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">

<head>
  <title>전체 이슈</title>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<div layout:fragment="content">
  <div class="container">
    <div class="page-header">
      <h1>모든 이슈</h1>
    </div>
    <section>
      <div class="clearfix">
        <ul class="sort-tab nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">구독 순</a></li>
          <li role="presentation"><a href="#">기록 순</a></li>
          <li role="presentation"><a href="#">업데이트 순</a></li>
          <li role="presentation"><a href="#">등록 순</a></li>
        </ul>
      </div>

      <ul id="list" class="list-group">
        <li class="list-group-item" th:each="issue : ${issues}">
          <span class="list-date" th:text="${#dates.format(issue.createdAt,'yyyy.MM.dd')}">2015.05.16</span>
          <span class="list-title" th:text="${issue.title}"></span>

          <div class="pull-right">
            <div class="btn btn-default list-count">구독 <span class="badge" th:text="${issue.subscribeCount}">14</span>
            </div>
            <div class="btn btn-default list-count">기록 <span class="badge" th:text="${issue.recordSize}">14</span></div>
            <a href="/issue.html" th:href="@{'/issue/'+${issue.id}}" class="btn btn-primary">보러가기</a>
          </div>
        </li>
      </ul>

      <script type="text/x-handlebars" id="listTemplate">
        {{#each this}}
        <li class="list-group-item">
          <span class="list-date">{{dateFormat createdAt format='yyyy.MM.dd'}}</span>
          <span class="list-title">{{title}}</span>

          <div class="pull-right">
            <div class="btn btn-default list-count">구독 <span class="badge">{{subscribeCount}}</span></div>
            <div class="btn btn-default list-count">기록 <span class="badge">{{recordSize}}</span></div>
            <a href="/issue/{{id}}" class="btn btn-primary">보러가기</a>
          </div>
        </li>
        {{/each}}
      </script>

      <nav class="text-center" th:if="${#lists.size(issues)} == 10">
        <a href="javascript:;" id="list-more" class="btn btn-success btn-lg btn-more">더 보기</a>
      </nav>

    </section>

    <script th:inline="javascript">
      /*<![CDATA[*/
      $(function () {
        var pageId = 0;
        var template = Handlebars.compile($('#listTemplate').text());

        $('#list-more').click(function () {
          pageId++;
          $.get(apiPrefix + '/issues', {pageId: pageId}, function (data) {
            var html = template(data);
            $('#list').append(html);

            if (data.length < 10) $('#list-more').hide();
          });
        });
      });
      /*]]>*/
    </script>
  </div>
</div>
</body>
</html>